//- pug is indentation sensitive
//- Pug can also understand HTML code here we show PUG syntax to get familiar with
//- pug syntax representation of html syntax <h1>The Park Camper</h1>
//- This kind of commenting appears on the output code
//- Buffered commenting: This kind of commenting do not appear on the final code. 

doctype html
html 
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      title Natours | #{title}
      //- title Natours #{tour} --> #{...} is used as template literals in pug
      //- SERVING STATIC FILES in public folder by express middleware @ app.js tells where css and img folders are
      link(rel='stylesheet' href='/css/style.css')
      link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')

  body(data-alert=`${alert ? alert : ''}`)
    // HEADER
    include _header
    //- imports the code from the reference file. 
    // CONTENT
    block content
      h1 This is a placeholder heading
    //FOOTER
    include _footer
    //JS SCRIPT REFERENCE
    //- //- Alt#1 per https://cdnjs.com/libraries/axios 
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js') 
    //- //-Alt#2 per https://axios-http.com/docs/intro
    //- //- script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js') 
    //- //-Alt#3 per https://axios-http.com/docs/intro
    //- //- script(src='https://unpkg.com/axios/dist/axios.min.js') 
    //- script(src='/js/mapbox.js')
    //- script(src='/js/login.js')
    script(src='https://js.stripe.com/v3/')
    script(type='module' src='/js/bundled/index.js') 
      //-WE BUNDLE THE JS FRAGMENTS INTO ONE JS FOR PROD